@import _colors

.scrollHint
    position: absolute
    bottom: 15px
    width: max-content
    left: 50%
    transform: translateX(-50%)
    padding: .3em .6em

    &.mobile
        top: calc( 70vh +  2.3em)

        h1
            font-size: 1em

        .waterFall
            width: 2px
            height: 20px

            &::before
                content: ""
                background: black
                position: absolute
                width: 3px
                height: 35px
                top: 0
                left: 0
                animation: fallMobile 1.5s infinite

    h1
        font-size: 30px
        color: black
        text-align: center
    
    .waterFall
        width: 3px
        height: 35px
        position: relative
        margin-left: 50%
        transform: translateX(-50%)
        margin-top: 10px
        overflow: hidden

        &::before
            content: ""
            background: black
            position: absolute
            width: 3px
            height: 35px
            top: 0
            left: 0
            animation: fall 1.5s infinite
        
        @keyframes fall
            0%
                width: 3px
                height: 35px
                top: 0
                left: 0
            50%
                width: 3px
                height: 0
                top: 35px
                left: 0
            50.0001%
                width: 3px
                height: 0
                top: 0
                left: 0
            100%
                width: 3px
                height: 35px
                top: 0
                left: 0
        
        @keyframes fallMobile
            0%
                width: 2px
                height: 20px
                top: 0
                left: 0
            50%
                width: 2px
                height: 0
                top: 20px
                left: 0
            50.0001%
                width: 2px
                height: 0
                top: 0
                left: 0
            100%
                width: 2px
                height: 20px
                top: 0
                left: 0

// ------------------------


.hugeTextBlock
    width: max-content
    height: max-content
    padding: 1em 1.5em 3em 1em
    background: $PrimaryColor
    font-size: 30px
    position: absolute
    left: 10%
    top: 25%

    &.mobile
        top: 15%
        width: 57%
        left: 40%
        box-sizing: border-box
        max-height: 43%
        font-size: 1em

        span
            font-size: 1.4em

    span
        font-size: 40px

//---------------------

.progress
    width: 30%
    background: #ffffff67
    display: block
    height: .7em
    border-radius: .35em
    position: relative

    .liquid
        position: absolute
        top: 0
        left: 0
        height: .7em
        border-radius: .35em
        background: $FontColor
        transition: .5s
        width: 50%

