@import _colors
@import _components

*
    margin: 0
    padding: 0
    font-family: 'Roboto Condensed', sans-serif
    font-weight: 250
    scroll-behavior: smooth

body
    background: $PrimaryColor
    overflow-x: hidden


.button
    background: $PrimaryColor
    border: none
    outline: none
    color: $FontColor
    padding: .5em 1em
    cursor: pointer

.section
    height: 100vh
    width: 100vw

.desktop

    *
        color: $FontColor

    .mainPage
        background-image: url("../res/gunBlur.jpg")
        background-position: center 70%
        position: relative

        .logo
            height: 20%
            position: absolute
            top: 1em
            left: 50%
            transform: translateX(-50%)

        .order
            @extend .button
            font-size: 40px
            position: absolute
            right: 20%
            top: 60%
            text-decoration: none
        
        .line
            position: absolute
            overflow: visible
            transition: clip-path 1s

    .galary
        background: $PrimaryGradient
        display: flex
        flex-direction: column
        align-content: center
        justify-content: space-around
        text-align: center
        position: relative

        .curtain
            opacity: 0
            background: $PrimaryGradient
            z-index: 5
            transition: 0.5s
            pointer-events: none
            position: fixed
            top: 0
            left: 0

            &.active
                opacity: 1
                transition: .5s
                pointer-events: auto
            
                img
                    position: absolute
                    top: 5%
                    left: 50%
                    transform: translateX(-50%)
                    height: 90%

        *
            align-self: center

        .heading
            font-size: 60px
            max-width: 70%

        .view
            height: 60%
            width: 100%
            position: relative

            .photo
                height: 100%
                width: 60vh
                position: absolute
                overflow: hidden
                transform: translateX(-50%)

                &.left
                    cursor: pointer
                    left: 0

                &.center
                    left: 50%
                
                &.right
                    cursor: pointer
                    left: 100%

                img
                    pointer-events: none

                .horizontal
                    height: 100%
                    margin-left: 50%
                    transform: translateX(-50%)
                
                .vertical
                    width: 100%
                    margin-top: 50%
                    transform: translateY(-50%)

            &.sidework
                .photo
                    transition: 0s !important
                    cursor: default !important
            
            &.animate
                .photo
                    transition: 1s !important
    
    .form
        background-image: url("../res/fishBlur.jpg")
        background-position: center 55%
        background-size: cover
        position: relative

        .anchor
            position: absolute
            top: 0
            left: 0
            width: 1px
            height: 1px
            opacity: 0
        
        .formWrap
            height: 70%
            top: 20%
            left: 10%
            width: 20%
            background: none
            position: absolute

            &.hidden
                transition: .6s
                opacity: 0

            *:not(:first-child)
               margin-top: 2em

            .textInput

                .label
                    color: $PrimaryColor
                    font-size: 2.3em

                .textField
                    margin-top: .2em
                    border: 3px solid $PrimaryColor
                    padding: .3em .5em
                    width: 100%
                    font-size: 2em
                    outline: none
                    background: none
                    color: $PrimaryColor

                    &.incorrect
                        border-color: $ErrorColor

                    &::placeholder
                        color: $PrimaryColor
            
            .send
                @extend .button
                font-size: 1.5em

            .vk
                @extend .button
                margin-top: .5em
                font-size: 1.5em
            
        .success
            position: absolute
            top: 50%
            left: 50%
            width: 30%
            transform: translate(-50%, -50%)
            opacity: 0
            transition: .6s
            pointer-events: none

            &.visible
                opacity: 1
    
    .footer
        width: 100%
        height: 4em
        display: flex
        flex-direction: row
        justify-content: space-around
        align-content: center

        a
            height: 60%
            width: max-content
            align-self: center
            justify-self: center
            overflow: visible

            &.text
                height: max-content
                font-size: 1.4em
                text-decoration: none
            
            img
                height: 100%
                overflow: visible
        
.mobile

    *
        color: $FontColor

    .mainPage
        background-image: url("../res/gunBlur.jpg")
        background-position: center 70%
        position: relative

        .image
            position: absolute
            top: 0
            left: 0
            width: 55%
            height: 35%
            overflow: hidden

            img
                height: 100%
                margin-left: 50%
                transform: translateX(-50%)
        
        .order
            @extend .button
            padding: .5em 1.5em
            font-size: 1.3em
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: 66%
            text-decoration: none

    .galary
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-around
        align-content: center

        .progress
            margin-left: 35%
            height: .3em
            border-radius: .15em

            .liquid
                height: .3em
                border-radius: .15em

        .heading
            font-size: 1.3em
            max-width: 80%
            width: max-content
            align-self: center

        .frame
            width: 100%
            height: 100vw
            overflow: hidden
            position: relative

            img
                width: 100%
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
    
    .form
        background-image: url("../res/fishBlur.jpg")
        background-position: 67% 55%
        background-size: cover
        position: relative

        .anchor
            position: absolute
            top: 0
            left: 0
            width: 1px
            height: 1px
            opacity: 0
        
        .formWrap
            height: 70%
            top: 20%
            left: 5%
            width: 80%
            background: none
            position: absolute

            &.hidden
                transition: .6s
                opacity: 0

            *:not(:first-child)
               margin-top: 1em

            .textInput

                .label
                    color: $PrimaryColor
                    font-size: 2.3em

                .textField
                    margin-top: .2em
                    border: 3px solid $PrimaryColor
                    padding: .3em .5em
                    width: 100%
                    font-size: 1.3em
                    outline: none
                    background: none
                    color: $PrimaryColor

                    &.incorrect
                        border-color: $ErrorColor

                    &::placeholder
                        color: $PrimaryColor
            
            .send
                @extend .button
                font-size: 1em
                display: block

            .vk
                @extend .button
                margin-top: .5em
                font-size: 1em
                display: block
            
        .success
            position: absolute
            top: 50%
            left: 50%
            width: 80%
            transform: translate(-50%, -50%)
            opacity: 0
            transition: .6s
            pointer-events: none

            &.visible
                opacity: 1

    .footer
        width: 100%
        height: 2.5em
        display: flex
        flex-direction: row
        justify-content: space-around
        align-content: center

        a
            height: 60%
            width: max-content
            align-self: center
            justify-self: center
            overflow: visible

            &.text
                height: max-content
                font-size: .8em
                text-decoration: none
            
            img
                height: 100%
                overflow: visible

.admin
    width: 100%
    height: 100vh
    display: flex
    flex-direction: row
    font-size: 2em
    overflow: hidden

    .last
        margin-bottom: 5em
    
    h3
        margin-top: 1em

    *
        color: balck

    .text
        padding: .5em
        flex: 2
        border-right: 1px solid black
        height: 100%
        overflow: scroll

        .label
            font-size: .9em

        textarea
            outline: none
            border: 2px solid $PrimaryColor
            outline: none
            height: 10em
            font-size: .6em
            width: 90%
            margin-top: .7em
        
        input[type="text"]
            outline: none
            border: 2px solid $PrimaryColor
            outline: none
            width: 90%
            font-size: .6em
        
        p
            font-size: .8em
            margin-top: 1.5em


    .images
        padding: .5em
        flex: 1
        height: 100%
        overflow: scroll

        .img-wrap
            overflow: hidden
            width: 80%
            height: 25vw
            margin-left: 10%
            margin-top: 2em
            position: relative

            img
                width: 100%
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            
            .toolbar
                width: 40%
                height: max-content
                position: absolute
                bottom: 0
                right: 0
                z-index: 10
                display: flex
                flex-direction: row
                justify-content: space-around
                background: black

                span
                    color: white
                    font-size: .7em
                    cursor: pointer

            